body    {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 700PX;
    width: 700PX;
    background-color: #a296ca;
    border-radius: 50%;
    position: relative;
}

.first {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #1d161e;
    border-radius: 50%;
    top: 200px;
    left: 170px;
}

.second {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #1d161e;
    border-radius: 50%;
    top: 200px;
    right: 170px;
}

.fourth  {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    top: 370px;
    left: 200px;
}

.third {
    position: absolute;
    width: 340px;
    height: 150px;
    background-color: #a296ca;
    border-radius: 50%;
    top: 340px;
    left: 180px;
    z-index: 1;
}

.fifth {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #4c1c46;
    border-radius: 50% 50% 10px 10px;
    bottom: -120px;
    left: -20px;
}

.sixth {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #4c1c46;
    border-radius: 50% 50% 10px 10px;
    bottom: -120px;
    right:   -20px;
}

.seventh {
    position: absolute;
    width: 310px;
    height: 50px;
    background-color: #282b75;
    border-radius: 10px;
    bottom: -120px;
    left: -25px;
    z-index: 1;
    box-shadow: 0px 16px 20px 0px rgba(43, 29, 90, 0.2);
}

.eighth {
    position: absolute;
    width: 310px;
    height: 50px;
    background-color: #282b75;
    border-radius: 10px;
    bottom: -120px;
    right: -25px;
    z-index: 1;
    box-shadow: 0px 16px 20px 0px rgba(43, 29, 90, 0.2);
}